@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
/*------------------MENU----------------*/

#menu a {
    font-size: 18px;
    font-weight:bold;
    color: black;
}

menu button {
    font-size: 18px;
    font-weight:bold;
}

/*------------SLIDERS DE IMAGENES---------*/

.carousel-inner {
    max-height: 25rem;;
}